/**************************************************************
 * Global
 **************************************************************/
@font-face {
  font-family: Walibi;
  src: url(../fonts/walibi.ttf);
}

html {
  font-family: 'Walibi';
  background-image: url("../images/background.png");
  background-repeat: repeat;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

/**************************************************************
 * Page (container)
 **************************************************************/

.page {
   max-width: 650px;

   padding: 0 20px;
   margin-left: auto;
   margin-right: auto;

   position: relative;
   min-height: 100%;
}

.page::after {
  display: block;
  content: "";
  padding-bottom: 100px;
}

/**************************************************************
 * Banner
 **************************************************************/

.page-header {
  display: table;
  padding: 12px 0px 12px 0px;
  width: 100%;
  margin-bottom: 50px;
}

.logo {
  width: 650px;
}

/**************************************************************
 * Footer
 **************************************************************/
.page-footer {

  /* Page's bottom */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 50px;
  box-sizing: border-box;

  /* Text style */
  font-size: 12px;
  font-weight: 100;
  font-family: Hack, monospace;
  color: #BBBBBB;
}

.page-footer p {
  text-align: center;
}
