/**************************************************************
 * Global
 **************************************************************/
@font-face {
  font-family: Walibi;
  src: url(../fonts/walibi.ttf);
}

html {
  font-family: 'Walibi';
  background-image: url("../images/background.png");
  background-repeat: repeat;
}

html, body {
  height: 100%;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #8DCBED;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

/**************************************************************
 * Page (container)
 **************************************************************/

.page {
   max-width: 650px;

   padding: 0 20px;
   margin-left: auto;
   margin-right: auto;

   position: relative;
   min-height: 100%;
}

.page::after {
  display: block;
  content: "";
  padding-bottom: 100px;
}

/**************************************************************
 * Banner
 **************************************************************/

.page-header {
  display: table;
  padding: 12px 0px 12px 0px;
  width: 100%;
  margin-bottom: 50px;
}

.logo-div {
  text-align: center;
}

.logo {
  max-width: 70%;
  height: auto;
}

.links {
  text-align: center;
}

.links ul {

}

.links ul li {
  display:inline-block;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  background-image: url("../images/btn01.png");
  background-repeat: no-repeat;
  background-size: 70px 42px;
}

.link-steam {
  background-image: url("../images/btn01.png");
}
.link-eshop {
  background-image: url("../images/btn02.png");
}
.link-ios {
  background-image: url("../images/btn03.png");
}
.link-android {
  background-image: url("../images/btn04.png");
}

/**************************************************************
 * Footer
 **************************************************************/
.page-footer {

  /* Page's bottom */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 50px;
  box-sizing: border-box;

  /* Text style */
  font-size: 12px;
  font-weight: 100;
  color: #BBBBBB;
}

.page-footer p {
  text-align: center;
}
